{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block title %} Login {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %}

  <div class="page-header min-vh-25" >
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-center">
        {% if form.errors %}
          <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <h1>Login</h1>

        {% if next %}
          <p>Please login to see this page.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          {{ form }}
          <div class="card-footer text-center pt-0 px-lg-2 px-1">
            <p class="mb-4 text-sm mx-auto">
              Use test data for viewing - <b>test / password333</b>
            </p>
          </div>
          <input type="submit" value="Login" class="btn btn-primary" />
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
