{% extends "layouts/base.html" %}
{% load crispy_forms_filters %}
{% block title %} Topics {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  {% include 'includes/navigation.html' %}

  <div class="page-header min-vh-25" >
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
      <div class="section text-center">
        <h1>
          Topic list
          <a href="{% url 'catalog:topic-create' %}" class="btn btn-primary link-to-page">
            Create
          </a>
        </h1>

        <div class="row justify-space-between py-2">
          <form method="get" action="" class="d-flex  align-items-center gap-2 border rounded-3">
            {{ search_form|crispy }}
          <input class="btn btn-icon-only" type="submit" value="🔎">
          </form>
        </div>

        <div class="mx-auto ">
          {% if topic_list %}
            <table class="table">
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
              </tr>

              {% for topic in topic_list %}
                <tr>
                  <td>
                    {{ topic.id }}
                  </td>
                  <td>
                    {{ topic.name }}
                  </td>

                  <td>
                    <a href="{% url 'catalog:topic-update' pk=topic.id %}">
                      Update
                    </a>
                  </td>
                  <td>
                    <a style="color: red"
                      href="{% url 'catalog:topic-delete' pk=topic.id %}">
                      Delete
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </table>

            {% else %}
                <p>There are no topics in the newspaper.</p>
            {% endif %}
       </div>
        {% include "includes/pagination.html" %}
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
